body {
    background-color: #f2f0eb;
}
.hero {
    position: relative;
    display: flex;
    align-items: center; /* Mover el contenido hacia arriba */
    justify-content: center;
    height: 80vh; /* Reducir la altura */
    background: url('../img/background.jpg') no-repeat bottom center; /* Cambiar la posición del fondo */
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 20vh; /* Ajustar la posición del texto */
}

.navfont {
    font-family: "Tangerine", serif;
    font-weight: 400;
    font-style: normal;
    font-size:1.5em;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.texto-hero {
    font-family: "Tangerine", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.titulo-hero {
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
}
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.details .detail {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    background: #f2f0eb;
    border-radius: 10px;
    text-align: center;
}

.story {
    padding: 50px 0;
}

.story .carousel-inner img {
    height: 400px;
    object-fit: cover;
}

.textos {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.titulos-card {
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    font-size:3em;
}

.titulos {
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
}

.gallery {
    padding: 50px 0;
}

.gallery img {
    margin-bottom: 20px; /* Agregar espacio hacia abajo */
    border-radius: 10px;
}

.schedule {
    padding: 50px 0;
}

.schedule ul {
    list-style-type: none;
    padding: 0;
}

.schedule ul li {
    margin-bottom: 20px;
    font-size: 18px;
}

.schedule img {
    border-radius: 10px;
}

.time {
    display: inline-block;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.titulo-schedule {
    font-family: "Tangerine", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
}

.schedule-text{
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}